{
  "log": {
    "_recordingName": "algod",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9777aa7ee9af5324d21c2be0960eb33d",
        "request": {
          "headers": [
            {
              "name": "x-algo-api-token",
              "value": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://testnet-api.4160.nodely.dev/v2/status"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 276,
            "text": "{\"catchpoint\":\"\",\"catchpoint-acquired-blocks\":0,\"catchpoint-processed-accounts\":0,\"catchpoint-processed-kvs\":0,\"catchpoint-total-accounts\":0,\"catchpoint-total-blocks\":0,\"catchpoint-total-kvs\":0,\"catchpoint-verified-accounts\":0,\"catchpoint-verified-kvs\":0,\"catchup-time\":0,\"last-catchpoint\":\"\",\"last-round\":58979812,\"last-version\":\"https://github.com/algorandfoundation/specs/tree/953304de35264fc3ef91bcd05c123242015eeaed\",\"next-version\":\"https://github.com/algorandfoundation/specs/tree/953304de35264fc3ef91bcd05c123242015eeaed\",\"next-version-round\":58979813,\"next-version-supported\":true,\"stopped-at-unsupported-round\":false,\"time-since-last-round\":2415605010}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-and-bl",
              "value": "testnet-v1.0"
            },
            {
              "name": "x-and-dl",
              "value": "0.05"
            },
            {
              "name": "x-and-nl",
              "value": "us1@us_ashburn"
            },
            {
              "name": "x-and-rt",
              "value": "0.049"
            },
            {
              "name": "x-and-sr",
              "value": "algod-catchup"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230,
      },
      {
        "_id": "c010ed1cb33e50377ad0c48a4516ad73",
        "request": {
          "headers": [
            {
              "name": "x-algo-api-token",
              "value": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://testnet-api.4160.nodely.dev/health"
        },
        "response": {
          "content": {
            "mimeType": "applicatio[...]
